<h2>Gestión de mis productos</h2>
<!-- [scrollable]="true" scrollHeight="200px" [responsive]="true"-->

<span class="p-buttonset">
    <button [routerLink]="['/form-producto/crear/',0]" pButton type="button" label="Nuevo" icon="pi pi-plus" class="p-button-success"></button>
</span>
<p-card>
    <p-table #dt [value]="productosDto" [columns]="columnas" [lazy]="false" [responsive]="true" [style]="{width:'100%'}"
        [resizableColumns]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[20,50,100]" [loading]="loading"
        [filterDelay]="0" [globalFilterFields]="['nombre','descripcion','nombre_empresa','nombre_vendedor']">

        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Foto</th>
                <th *ngFor="let col of columnas">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td> 
                    <img src="../../assets/def.png" width="100" height="100" alt="">
                </td>
                <!-- <td height="40" *ngFor="let col of columnas">
                    <span class="p-column-title">{{col.header}}</span>
                    <label>{{rowData[col.field]}}</label>
                </td> -->

                <td height="40" class="ui-resizable-column wrapTexto">
                    <p class="p-column-title">Nombre</p>
                    {{rowData['nombre']}}
                </td>
                <td height="40" class="ui-resizable-column">
                    <p class="p-column-title">Precio compra</p>
                    {{rowData['precio_compra'] | number}}
                </td>
                <td height="40" class="ui-resizable-column">
                    <p class="p-column-title">Precio venta</p>
                    {{rowData['precio_venta'] | number}}
                </td>
                <td height="40" class="ui-resizable-column">
                    <p class="p-column-title">Proveedor</p>
                    {{rowData['nombre_empresa']}}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProducto(rowData)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProducto(rowData)"></button>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="mostrarProducto(rowData)"></button>

                </td>
            </tr>
            <hr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog header="Ver producto" [(visible)]="displayMostrar" [style]="{width: '90vw'}" [contentStyle]="{'overflow': 'scrollable'}"
        [modal]="true" [resizable]="false" appendTo="body">
        <div class="container">
            <p class="font-weight-bold">Nombre:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.nombre}}</div><br>
        
            <p class="font-weight-bold">Descripción:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.descripcion}}</div><br>
        
            <p class="font-weight-bold">Precio compra:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.precio_compra | number}}</div><br>
        
            <p class="font-weight-bold">Precio venta:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.precio_venta | number}}</div><br>
        
            <p class="font-weight-bold">IVA:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.iva}}%</div><br>
        
            <p class="font-weight-bold">Marca:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.marca}}</div><br>
        
            <p class="font-weight-bold">Proveedor:</p>
            <div class="font-weight-normal wrapTexto">{{productoMostrar.nombre_empresa}}</div><br>
        </div>

     
</p-dialog>

<p-confirmDialog [style]="{width: '80'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="top-left" [style]="{width: '90vw'}" key="tc"></p-toast>

