    <h3>Gestión de mis productos</h3>
<!-- [scrollable]="true" scrollHeight="200px" -->
<p-card>
    <p-table [value]="productosDto" [columns]="columnas"
            [lazy]="false" 
            [responsive]="true"
            [style]="{width:'100%'}" [resizableColumns]="true" 
            [loading]="loading" 
    >
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width:250px">
            <col style="width:250px">
            <col style="width:250px">
            <col style="width:250px">
            <col style="width:250px">
            <col style="width:50px">
            <col style="width:50px">
        </colgroup>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columnas">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columnas">
                    <span class="p-column-title">{{col.header}}</span>
                        {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>



