<h2>Agregar un nuevo producto</h2>
<span class="p-buttonset">
    <button (click)="goBack()" pButton type="button" label="Atrás" icon="pi pi-chevron-left"
        class="p-button-primary"></button>
</span>
<p-card>
    <form [formGroup]="productoForm">
        <div class="p-fluid">
            <div class="p-field">
                <label for="nombre">Nombre<span class="text-danger">*</span></label>
                <input name="nombre" id="nombre" formControlName="nombre" maxlength="100" required type="text"
                    pInputText>
            </div><br>
            <div class="p-field">
                <label for="descripcion">Descripción</label>
                <input name="descripcion" id="descripcion" formControlName="descripcion" maxlength="255" type="text"
                    pInputText>
            </div><br>
            <div class="p-field">
                <label for="precio_compra">Precio de compra<span class="text-danger">*</span></label>
                <p-inputNumber mode="decimal" 
                                locale="de-DE" [minFractionDigits]="2" maxlength="11" required
                                name="precio_compra" id="precio_compra" formControlName="precio_compra">
                </p-inputNumber>
            </div><br>
            <div class="p-field">
                <label for="precio_venta">Precio de venta<span class="text-danger">*</span></label>
                <!-- <input name="precio_venta" id="precio_venta" formControlName="precio_venta" maxlength="11" required
                    type="number" pInputText> -->
                <p-inputNumber mode="decimal" 
                                locale="de-DE" [minFractionDigits]="2" maxlength="11" required
                                name="precio_venta" id="precio_venta" formControlName="precio_venta">
                </p-inputNumber>
            </div><br>
            <div class="p-field">
                <label for="iva">IVA<span class="text-danger">*</span></label>
                <p-dropdown name="iva" id="iva" formControlName="iva" required placeholder="Seleccionar" 
                            [options]="ivas" appendTo="body" optionLabel="name" [(ngModel)]="ivaNg"></p-dropdown>
            </div><br>
            <div class="p-field">
                <label for="marca">Marca</label>
                <input name="marca" id="marca" formControlName="marca" maxlength="100" type="text"
                    pInputText>
            </div><br>
            <div class="p-field">
                <label for="fecha_compra">Fecha compra<span class="text-danger">*</span></label>
                <p-calendar name="fecha_compra" id="fecha_compra" formControlName="fecha_compra" showIcon="true" [defaultDate]="today"></p-calendar> 
            </div><br>
            <div class="p-field">
                <label for="idProveedor_fk">Proveedor<span class="text-danger">*</span></label>
                <p-dropdown name="idProveedor_fk" id="idProveedor_fk" formControlName="idProveedor_fk" required placeholder="Seleccionar" 
                            [options]="proveedoresDto" appendTo="body" optionLabel="nombre_empresa" [(ngModel)]="proveedorNg"></p-dropdown>
            </div><br>

        </div>
    </form>
    <button pButton type="button" [label]="labelBoton" pRipple class="p-button-lg btn-block" (click)="onSubmit()"
            [disabled]="!productoForm.valid"></button>
</p-card>

<p-toast position="top-left" [style]="{width: '90vw'}" key="tc"></p-toast>